# -*- mode: snippet -*-
# Last modified: <2012-03-06 13:49:26 Tuesday by richard>
# name: namespace
# key: ns
# contributor: Richard Wong <chao787@gmail.com>
# --
namespace ${1:Namespace}_`(random t)` {
          $0
          `yas/selected-text`
}