# -*- mode: snippet -*-
# Time-stamp: <2011-12-25 23:01:43 Sunday by richard>
# name: import buffer's content
# key: ib
# contributor: Richard Wong <chao787@gmail.com>
# --
`(progn (if (get-buffer "*scratch*")
           (insert-buffer "*scratch*")
          (message "This Emacs don't have a *scratch* buffer.")))`
