# -*- mode: snippet -*-
# Time-stamp: <2011-05-28 17:43:19 Saturday by richard>
# name: section expand
# key: section
# contributor: Richard Wong <chao78787@Gmail.com>
# --
;; $0Section
;; ------------------------------------------------------------------