# -*- mode: snippet -*-
# Time-stamp: <2011-05-28 17:42:54 Saturday by richard>
# name: title expand
# key: title
# contributor: Richard Wong <chao78787@Gmail.com>
# --
;; $0Title
;; ==================================================================